<h1>New Article</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :product_name %><br>
    <%= form.text_field :product_name %>
    <% @user.errors.full_messages_for(:product_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :product_price %><br>
    <%= form.text_area :product_price %><br>
    <% @user.errors.full_messages_for(:product_price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
    <%= form.collection_select :product_catagory_id,  ProductCatagory.order(:catagory_name),:id,:catagory_name, include_blank: true %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
